/*---------------------------------------------------------*/
/*-------------------------HEADER--------------------------*/
/*---------------------------------------------------------*/


.home {
    background-image: url('../../image/Bghomepage.jpg');
    background-attachment: fixed;
    background-position: relative;
    background-size: cover;
    height: 90vh;
    padding-top: 70vh;
}

.start {
    /* border: 2px solid red; */
    height: 140px;
}


/*---------------------------------------------------------*/
/*------------------------SECTI0N--------------------------*/
/*---------------------------------------------------------*/


.container {
    box-shadow: 0 -200px 20px 10px rgba(0, 0, 0, 0.15);
}


#home a {
    color: rgb(135, 135, 135);
}

.container h2 {
    margin: 100px 0 30px 0;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.container .row {
    position: relative;
}


/*---------------------------------------------------------*/
/*----------------------LEFT CONTENT-----------------------*/
/*---------------------------------------------------------*/


.left-content {
    width: 525px;
}



/*---------------------------------------------------------*/
/*--------------------------INTRO--------------------------*/
/*---------------------------------------------------------*/


.left-content .intro h3 {
    color: gray;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.left-content .intro h1 {
    padding-top: 10px;
    padding-bottom: 30px;
}

.left-content .intro h1 a {
    font-size: 30px;
    font-weight: 100;
    color: rgb(58, 58, 58)
}

.left-content .intro h1 a:hover {
    text-decoration: underline;
}

.left-content .intro p {
    font-size: 120%;
    line-height: 2;
    margin-bottom: 70px;
    text-align: justify;
}

.left-content .intro p span {
    font-weight: 900;
}


/*---------------------------------------------------------*/
/*------------------------FEEDBACK-------------------------*/
/*---------------------------------------------------------*/


.left-content .feedback h3 {
    color: gray;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}

.left-content .feedback h1 {
    padding-top: 10px;
}

.left-content .feedback h1 a {
    font-size: 30px;
    font-weight: 100;
    color: rgb(58, 58, 58);
}

.left-content .feedback h1 a:hover {
    text-decoration: underline;
}

.feedback-header-content {
    padding: 40px 0;
    font-size: 110%;
    color: rgb(58, 58, 58);
}

.content-box {
    /* border: 1px solid red; */
    display: flex;
}

.img {
    /* border: 1px solid red; */
    width: 50%;
}

.content-box .content {
    /* border: 1px solid red; */
    width: 50%;
    padding: 10px;

}

.feedback .feedback__content--header {
    /* border: 1px solid red; */
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.feedback__content .content p {
    color: rgb(58, 58, 58);
}

.slogan {
    margin-bottom: 100px;
}

.slogan p {
    display: block;
    background-color: rgb(150, 192, 192);
    padding: 30px 40px;
    text-align: center;
    color: #fff;
    font-size: 120%;
    font-weight: 900;
}

.slogan::before {
    content: '';
    display: block;
    background-color: rgb(175, 178, 197);
    width: 525px;
    height: 2px;
    margin: 20px 0;
}


/*---------------------------------------------------------*/
/*------------------------FOOTER-------------------------*/
/*---------------------------------------------------------*/

.end {
    border-top: 1px solid rgb(175, 178, 197);
    padding: 35px 0;
}

.end p {
    color: rgb(90, 90, 90);
    font-size: 90%;
}